

.footer{
  position: relative;
  background-image: -webkit-gradient(
    linear,
    right top, left bottom,
    from(#02047a),
    color-stop(#000001),
    color-stop(0, #000001),
    color-stop(-11%, #000001),
    to(#02047a)
  );
  background-image: -o-linear-gradient(
    right top,
    #02047a,
    #000001,
    #000001 0,
    #000001 -11%,
    #02047a
  );
  background-image: linear-gradient(
    to left bottom,
    #02047a,
    #000001,
    #000001 0,
    #000001 -11%,
    #02047a
  );
  margin-top: 2rem;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  z-index: 0;
}