

.bottom,
.glass {
  position: absolute;
}
.card,
.glass {
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.parent {
  width: 290px;
  height: 300px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.card {
  min-height: 114%;
  border-radius: 50px;
  background: -o-linear-gradient(315deg, #007bff 0, #007bff 100%);
  background: linear-gradient(135deg, #007bff 0, #007bff 100%);
  -webkit-box-shadow: rgba(5, 71, 17, 0) 40px 50px 25px -40px,
    rgba(5, 71, 17, 0.2) 0 25px 25px -5px;
          box-shadow: rgba(5, 71, 17, 0) 40px 50px 25px -40px,
    rgba(5, 71, 17, 0.2) 0 25px 25px -5px;
  gap: 2rem;
}
.glass {
  inset: 8px;
  border-radius: 55px 100% 55px 55px;
  background: -webkit-gradient(
    linear,
    left bottom, left top,
    color-stop(0, rgba(255, 255, 255, 0.349)),
    to(rgba(255, 255, 255, 0.815))
  );
  background: -o-linear-gradient(
    bottom,
    rgba(255, 255, 255, 0.349) 0,
    rgba(255, 255, 255, 0.815) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.349) 0,
    rgba(255, 255, 255, 0.815) 100%
  );
  -webkit-transform: translate3d(0, 0, 25px);
          transform: translate3d(0, 0, 25px);
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.content {
  padding: 100px 60px 0 30px;
  -webkit-transform: translate3d(0, 0, 26px);
          transform: translate3d(0, 0, 26px);
}
.content .title {
  display: block;
  color: #007bff;
  font-weight: 900;
  font-size: 20px;
}
.content .text {
  display: block;
  color: #007bff;
  font-size: 15px;
  margin-top: 20px;
}
.bottom {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translate3d(0, 0, 26px);
          transform: translate3d(0, 0, 26px);
}
.logo,
.logo .circle {
  position: absolute;
  top: 0;
  right: 0;
}
.bottom .view-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.bottom .view-more:hover {
  -webkit-transform: translate3d(0, 0, 10px);
          transform: translate3d(0, 0, 10px);
}
.bottom .view-more .view-more-button {
  background: 0 0;
  border: none;
  color: #007bff;
  font-weight: bolder;
  font-size: 12px;
}
.bottom .view-more .svg {
  fill: none;
  stroke: #007bff;
  stroke-width: 3px;
  max-height: 15px;
}
.bottom .social-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.bottom .social-buttons-container .social-button {
  width: 30px;
  aspect-ratio: 1;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  border: none;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-box-shadow: #007bff;
          box-shadow: #007bff;
}
.bottom .social-buttons-container .social-button:first-child {
  -webkit-transition: -webkit-transform 0.2s ease-in-out 0.4s, -webkit-box-shadow 0.2s ease-in-out 0.4s;
  transition: -webkit-transform 0.2s ease-in-out 0.4s, -webkit-box-shadow 0.2s ease-in-out 0.4s;
  -o-transition: transform 0.2s ease-in-out 0.4s, box-shadow 0.2s ease-in-out 0.4s;
  transition: transform 0.2s ease-in-out 0.4s, box-shadow 0.2s ease-in-out 0.4s;
  transition: transform 0.2s ease-in-out 0.4s, box-shadow 0.2s ease-in-out 0.4s, -webkit-transform 0.2s ease-in-out 0.4s, -webkit-box-shadow 0.2s ease-in-out 0.4s;
}
.bottom .social-buttons-container .social-button:nth-child(2) {
  -webkit-transition: -webkit-transform 0.2s ease-in-out 0.6s, -webkit-box-shadow 0.2s ease-in-out 0.6s;
  transition: -webkit-transform 0.2s ease-in-out 0.6s, -webkit-box-shadow 0.2s ease-in-out 0.6s;
  -o-transition: transform 0.2s ease-in-out 0.6s, box-shadow 0.2s ease-in-out 0.6s;
  transition: transform 0.2s ease-in-out 0.6s, box-shadow 0.2s ease-in-out 0.6s;
  transition: transform 0.2s ease-in-out 0.6s, box-shadow 0.2s ease-in-out 0.6s, -webkit-transform 0.2s ease-in-out 0.6s, -webkit-box-shadow 0.2s ease-in-out 0.6s;
}
.bottom .social-buttons-container .social-button:nth-child(3) {
  -webkit-transition: -webkit-transform 0.2s ease-in-out 0.8s, -webkit-box-shadow 0.2s ease-in-out 0.8s;
  transition: -webkit-transform 0.2s ease-in-out 0.8s, -webkit-box-shadow 0.2s ease-in-out 0.8s;
  -o-transition: transform 0.2s ease-in-out 0.8s, box-shadow 0.2s ease-in-out 0.8s;
  transition: transform 0.2s ease-in-out 0.8s, box-shadow 0.2s ease-in-out 0.8s;
  transition: transform 0.2s ease-in-out 0.8s, box-shadow 0.2s ease-in-out 0.8s, -webkit-transform 0.2s ease-in-out 0.8s, -webkit-box-shadow 0.2s ease-in-out 0.8s;
}
.bottom .social-buttons-container .social-button .svg {
  width: 15px;
  fill: #007bff;
}
.bottom .social-buttons-container .social-button:hover {
  background: #000;
}
.bottom .social-buttons-container .social-button:hover .svg {
  fill: white;
}
.bottom .social-buttons-container .social-button:active {
  background: #095491;
}
.bottom .social-buttons-container .social-button:active .svg {
  fill: black;
}
.logo {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.logo .circle {
  display: block;
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) -10px 10px 20px 0;
          box-shadow: rgba(100, 100, 111, 0.2) -10px 10px 20px 0;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(0, 249, 203, 0.2);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.logo .circle1 {
  width: 170px;
  -webkit-transform: translate3d(0, 0, 20px);
          transform: translate3d(0, 0, 20px);
  top: 8px;
  right: 8px;
}
.logo .circle2 {
  width: 140px;
  -webkit-transform: translate3d(0, 0, 40px);
          transform: translate3d(0, 0, 40px);
  top: 10px;
  right: 10px;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.logo .circle3,
.parent:hover .card .logo .circle2 {
  -webkit-transform: translate3d(0, 0, 60px);
          transform: translate3d(0, 0, 60px);
}
.logo .circle3 {
  width: 110px;
  top: 17px;
  right: 17px;
  -webkit-transition-delay: 0.8s;
       -o-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.logo .circle4 {
  width: 80px;
  -webkit-transform: translate3d(0, 0, 80px);
          transform: translate3d(0, 0, 80px);
  top: 23px;
  right: 23px;
  -webkit-transition-delay: 1.2s;
       -o-transition-delay: 1.2s;
          transition-delay: 1.2s;
}
.logo .circle5 {
  width: 50px;
  -webkit-transform: translate3d(0, 0, 100px);
          transform: translate3d(0, 0, 100px);
  top: 30px;
  right: 30px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-transition-delay: 1.6s;
       -o-transition-delay: 1.6s;
          transition-delay: 1.6s;
}
.logo .circle5 .svg {
  width: 121px;
  fill: white;
  height: 50px;
}
.parent:hover .card {
  -webkit-transform: rotate3d(1, 1, 0, 30deg);
          transform: rotate3d(1, 1, 0, 30deg);
  -webkit-box-shadow: rgba(5, 71, 17, 0.3) 30px 50px 25px -40px,
    rgba(5, 71, 17, 0.1) 0 25px 30px 0;
          box-shadow: rgba(5, 71, 17, 0.3) 30px 50px 25px -40px,
    rgba(5, 71, 17, 0.1) 0 25px 30px 0;
}
.parent:hover .card .bottom .social-buttons-container .social-button {
  -webkit-transform: translate3d(0, 0, 50px);
          transform: translate3d(0, 0, 50px);
  -webkit-box-shadow: rgba(5, 71, 17, 0.2) -5px 20px 10px 0;
          box-shadow: rgba(5, 71, 17, 0.2) -5px 20px 10px 0;
}
.parent:hover .card .logo .circle3 {
  -webkit-transform: translate3d(0, 0, 80px);
          transform: translate3d(0, 0, 80px);
}
.parent:hover .card .logo .circle4 {
  -webkit-transform: translate3d(0, 0, 100px);
          transform: translate3d(0, 0, 100px);
}
.parent:hover .card .logo .circle5 {
  -webkit-transform: translate3d(0, 0, 120px);
          transform: translate3d(0, 0, 120px);
}



